.discount {
    background-color: rgb(41, 179, 221, 0.4);
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 45vh;
    transform: translateY(15rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.smallContainer {
    width: calc((96vw - 1vw) / 2);
    height: 80%;
}

.fit-container {
    width: 47.5vw;
    height: 45vh;
}

.secondSmallContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.nestedContainer {
    text-transform: uppercase;
    width: 35vw;
    padding: 5px;
}

.afterLine {
    min-height: 5vh;
    font-size: 1.2rem;
    padding: 2px;
    text-align: justify;
}

.HTilte {
    font-size: 2.5rem;
    font-weight: bold;
}

.secondSmallContainerForImage {
    height: 100%;
}

.shopNow {
    height: 6vh;
    position: relative;
}

.shopNow .shopBtn {
    position: absolute;
    background-color: transparent;
    border: 1px solid black;
    padding: 1rem;
    width: 10vw;
    height: 6vh;
    align-self: flex-start;
    top: 0px;
    bottom: 0;
    text-align: center;
    font-size: 1.2rem;
}

.shopBtn:hover {
    background-color: black;
    color: white
}